accelerate
aiohttp
beautifulsoup4
easyocr
Flask
flask-babel
huggingface-hub
matplotlib
numpy
opencv-python
openai
paddleocr
paddlepaddle
pandas
pdf2docx
pillow
PyMuPDF
pytesseract
python-docx
requests
scikit-image
scikit-learn
scipy
seaborn
torch
torchvision
transformers
